In [5]:
import boto3
import pandas as pd
import json
import psycopg2
import time 
from io import StringIO

In [6]:
AWS_ACCESS_KEY= 'AKIAX4JVCDCECFATD3OG'
AWS_SECRET_KEY='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'
AWS_REGION = 'us-east-2'
SCHEMA_NAME = 'covid_nineteen'
S3_STAGING_DIR = 's3://covidnineteenin23/output/'
S3_BUCKET_NAME = 'covidnineteenin23'
S3_OUTPUT_DIRECTORY = 'output'

In [7]:
athena_client = boto3.client(
    'athena',
aws_access_key_id = AWS_ACCESS_KEY,
aws_secret_access_key=AWS_SECRET_KEY,
region_name=AWS_REGION,
)

In [8]:
Dict = {}
def download_and_load_query_results(client: boto3.client, query_response: Dict
                                   ) -> pd.DataFrame:
    
    while True:
        try:
    # This function only loads the first 1000 rows
            client.get_query_results(
                QueryExecutionId=query_response["QueryExecutionId"]
            )
            break
        except Exception as err:
            if "not yet finished" in str(err):
                time.sleep (0.001)
            else:
                raise err
    temp_file_location: str = "athena_query_results.csv"
    s3_client = boto3.client(
        "s3",
        aws_access_key_id=AWS_ACCESS_KEY,
        aws_secret_access_key=AWS_SECRET_KEY,
        region_name=AWS_REGION,
    )
    
    s3_client.download_file(
        S3_BUCKET_NAME,
    f"{S3_OUTPUT_DIRECTORY}/{query_response['QueryExecutionId']}.csv",
        temp_file_location,
    )
    return pd. read_csv(temp_file_location)

In [9]:
response = athena_client.start_query_execution (
    QueryString="SELECT * FROM cdcpfizer",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)
df_data = download_and_load_query_results(athena_client, response)

In [10]:
response

{'QueryExecutionId': '18c31b7b-f63f-49b7-ae8d-5886fe31b094',
 'ResponseMetadata': {'RequestId': '35e516a8-18a0-4f93-839c-0f2566fcdabe',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Sat, 28 Jan 2023 22:14:06 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': '35e516a8-18a0-4f93-839c-0f2566fcdabe'},
  'RetryAttempts': 0}}

In [11]:
cdcpfizer = download_and_load_query_results (athena_client, response)

In [12]:
cdcpfizer.head()

,jurisdiction,week_of_allocations,1st_dose_allocations,2nd_dose_allocations
0,Connecticut,2021-06-21T00:00:00.000,54360,54360
1,Maine,2021-06-21T00:00:00.000,21420,21420
2,Massachusetts,2021-06-21T00:00:00.000,104580,104580
3,New Hampshire,2021-06-21T00:00:00.000,21420,21420
4,Rhode Island,2021-06-21T00:00:00.000,17280,17280